piwi/resources/xsd/site.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="piwi/site" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="piwi/site">


    <complexType name="page">
    	<sequence>
    		<element name="page" type="tns:page" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    	<attribute name="id" type="string" use="required"></attribute>
    	<attribute name="label" type="string" use="required"></attribute>
    	<attribute name="href" type="string" use="required"></attribute>
    	<attribute name="template" type="string" use="optional"></attribute>
    </complexType>


    <element name="site" type="tns:site"></element>

    <complexType name="site">
    	<sequence>
    		<element name="page" type="tns:page" minOccurs="0"
    			maxOccurs="unbounded">
    		</element>
    	</sequence>
    	<attribute name="navigation" type="string" use="optional"></attribute>
    </complexType>
</schema>